<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<head>
    {% include 'head.html' %}
    
<script>
const hamburger = document.querySelector(".hamburger");
const navMenu = document.querySelector(".nav-menu");

hamburger.addEventListener("click", mobileMenu);

function mobileMenu() {
    hamburger.classList.toggle("active");
    navMenu.classList.toggle("active");
}
</script>
</head>

<body>
    <header class="page-header">
        
        <nav id="hamburgerheader">
            <a href="/" class="page-header__logo" title="Go home">
                <img src="/assets/daniele_damico.png" alt="" width="48">
            </a>            
            <a href="/about">About Me</a>
            <a href="/notes">Notes</a>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
        
    
</header>
    <main>
        {{content}}
    </main>
    
    <footer class="page-footer">
        <small>Copyright {{site.author}}</small>
    </footer>
</body>
</html>