<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<head>
    {% include 'head.html' %}
    <script>
        function myFunction() {
  var x = document.getElementById("hamburgerheader");
  if (x.style.display === "flex column") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}
    </script>
</head>
<body>
    <header class="page-header">
       <a href="/" class="page-header__logo" title="Go home">
            <img src="/assets/daniele_damico.png" alt="" width="48">
        </a> 
        <nav id="hamburgerheader">           
            <a href="/about">About Me</a>
            <a href="/notes">Notes</a>
        </nav>
        <a href="javascript:void(0);" class="iconcose" onclick="myFunction()">
            <i class="fa fa-bars"></i>
          </a>      
          
    
    
</header>
    <main>
        {{content}}
    </main>
    
    <footer class="page-footer">
        <small>Copyright {{site.author}}</small>
    </footer>
</body>
</html>