<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
</head>
<body>
    <header class="page-header">

    <!--    <nav>
            <a href="/">Home</a>
            <a href="/about">About Me</a>
            <a href="/notes">Notes</a>
    </nav> -->
    <nav class="navbar">
        
        <a href="/" class="page-header__logo" title="Go home">
            <img src="/assets/daniele_damico.png" alt="" width="48">
        </a>
        
        <ul class="nav-menu">
            <li class="nav-item">
                <a href="#" class="nav-link">Services</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Blog</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">About</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Contact</a>
            </li>
        </ul>
        
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
    
</header>
    <main>
        {{content}}
    </main>
    
    <footer class="page-footer">
        <small>Copyright {{site.author}}</small>
    </footer>
    <script>
    
        const hamburger = document.querySelector(".hamburger");
        const navMenu = document.querySelector(".nav-menu");
        hamburger.addEventListener("click", mobileMenu);
        function mobileMenu() {
        hamburger.classList.toggle("active");
        navMenu.classList.toggle("active");}
    
        const navLink = document.querySelectorAll(".nav-link");
    
    navLink.forEach(n => n.addEventListener("click", closeMenu));
    
    function closeMenu() {
        hamburger.classList.remove("active");
        navMenu.classList.remove("active");
    }
        </script>
</body>
</html>