<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
</head>
<body>
    <header class="page-header">

        <!--    <nav>
                <a href="/">Home</a>
                <a href="/about">About Me</a>
                <a href="/notes">Notes</a>
        </nav> -->
        <nav class="navbar">
            
            <a href="/" class="page-header__logo" title="Go home">
                <img src="/assets/daniele_damico.png" alt="" width="48">
            </a>
            
            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="#" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Notes</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">About</a>
                </li>
            </ul>
            
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
        
    </header>
    <main>
        <div class="main2">
        <article>
            {{content}}
        </article>
        <img id="fotomia" src="/assets/daniele_damico.png" alt="questo sono io" width="60%">
        </div>
        {% include 'backlinks.html' %}
    </main>
<script>
    onclick=changeImage()

    function changeImage() {
    document.getElementById("scimmia").src="/assets/io.png";
    }
</script>

</body>
</html>
